
.divTest {
    background-color: 'red';
    font-size: '12px'
    }


.pTest {
    background-color: 'red';
    font-size: '12px'
    }

.buttonTest {
        background-color: 'red';
        font-size: '12px'
    }

